
<!DOCTYPE html>

			<html dir="ltr" lang="en-US">
				<!--
				<![endif]-->
				<head>
					<meta charset="UTF-8" />
					<meta name="viewport" content="width=device-width" />
					<title>Meménto | Another nice WP theme by YIW</title>
					<!-- [favicon] begin -->
					<link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico" />
					<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" />
					<!-- [favicon] end -->
					<!-- CSS Main -->
					<link rel="stylesheet" type="text/css" media="all" href="../static/../static/css/reset.css" />
					<link rel="stylesheet" type="text/css" media="all" href="../static/style.css" />
					<link rel="stylesheet" type="text/css" media="screen and (max-width: 960px)" href="../static/css/lessthen960.css" />
					<link rel="stylesheet" type="text/css" media="screen and (max-width: 600px)" href="../static/css/lessthen600.css" />
					<link rel="stylesheet" type="text/css" media="screen and (max-width: 480px)" href="../static/css/lessthen480.css" />
					<link rel="stylesheet" type="text/css" media="all" href="../static/css/memento.css"  />
					<link rel="stylesheet" type="text/css" media="all" href="../static/css/modal_popup.css"  />
					<!-- CSS Plugin -->
					<link rel="stylesheet" href="../static/css/prettyPhoto.css" type="text/css" media="all" />
					<link rel="stylesheet" href="../static/css/tipsy.css" type="text/css" media="all" />
					<link rel='stylesheet' href='../static/css/buttons.min.css' type='text/css' media='all' />
					<link rel='stylesheet' href='../static/css/labels.min.css' type='text/css' media='all' />
					<!-- <link rel='stylesheet' href='../static/css/wells.min.css' type='text/css' media='all' /> -->
					<!-- CSS Slider -->
					<link rel="stylesheet" href="../static/css/slider-thumbnails.css" type="text/css" media="all" />
					<link rel="stylesheet" type="text/css" media="all" href="../static/css/homes/default.css" />
					<!-- FONTS -->
					<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans&amp;subset=latin%2Ccyrillic%2Cgreek&amp;ver=3.4.1" type="text/css" media="all" />
					<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Shadows+Into+Light&amp;subset=latin%2Ccyrillic%2Cgreek&amp;ver=3.4.1" type="text/css" media="all" />
					<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed%3A300%7CPlayfair+Display%3A400italic&#038;ver=3.4.1' type='text/css' media='all' />
					<script type="text/javascript" src="../static/js/jquery.js"></script>
					<!-- <script type="text/javascript" src="../static/js/jquery.cycle.min.js"></script> -->
					<script type="text/javascript" src="../static/js/jquery.easing.1.3.js"></script>
					<!-- <script type="text/javascript" src="../static/js/jquery.prettyPhoto.js"></script> -->
					<script type="text/javascript" src="../static/js/jquery.tipsy.js"></script>
					<!-- <script type="text/javascript" src="../static/js/jquery.tweetable.js"></script> -->
					<!-- <script type="text/javascript" src="../static/js/jquery.nivo.slider.pack.js"></script> -->
					<!-- <script type="text/javascript" src="../static/js/jquery.flexslider.min.js"></script> -->
					<script type="text/javascript" src="../static/js/jquery.aw-showcase.js"></script>
					<script type="text/javascript" src="../static/js/superfish.js"></script>
					<!-- <script type='text/javascript' src="../static/js/jquery.eislideshow.js"></script> -->
					<script type='text/javascript' src="../static/js/swfobject.js"></script>
					<script type='text/javascript' src='../static/js/jquery.cookie.js'></script>
					<script type='text/javascript' src='../static/js/buttons.min.js'></script>
					<script type='text/javascript' src='../static/js/layerslider.kreaturamedia.jquery-min.js'></script>
					<script type='text/javascript' src='../static/js/jquery.quicksand.js'></script>
				</head>
				<body class="no_js responsive boxed-layout chrome ">
					<!-- TOPBAR -->

					<!-- END TOPBAR -->
					<!-- START WRAPPER -->
					<div class="wrapper group">
						<!-- START HEADER -->
						<header>
				  		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				  			<div class="navigation">
				  				<div class="container">
				  					<div class="navbar-header">
				  						<!-- <div class="navbar-brand">
												<a href="index.html"><h1><span><img src="../static/images/slider-elastic/minion-wallpapers.jpg" width="95" height="35"/>       PICTURE PERFECT</span></h1></a>
				  						</div> -->
											<div class="navbar-brand">
												<!-- <a href="index.html"><h1><span><img src="../static/images/icons/logo2.png" width="135" height="65" style="margin-left: 20px"/></span></h1></a> -->
												<a href="index.html"><h1><span>PICTURE PERFECT</span></h1></a>
												<!-- <a href="index.html"><img src="../static/images/slider-elastic/minion-wallpapers.jpg" width="55" height="55"/><a/> -->
											</div>
				  					</div>

				  					<div class="navbar-collapse collapse">
				  						<div class="menu">
				  							<ul class="nav nav-tabs" role="tablist" style="list-style-type: none;margin-top: 25px" >
				  								<li role="presentation"><a href="index.html" class="active">Home</a></li>
				  								<li role="presentation"><a href="about.html">About Us</a></li>
				  								<li role="presentation"><a href="page3.html">Services</a></li>
				  								<li role="presentation"><a href="contact.html">Contact</a></li>
				  							</ul>
				  						</div>
				  					</div>
				  				</div>
				  			</div>
				  		</nav>
						</header>
						<!-- END HEADER -->
						<!-- PAGE META -->
						<div id="page_meta" class="home-section">
							<div class="inner group">
								<!-- <div class="meta-left">
									<h2 class="page-title">Filterable</h2>
								</div>
								<div class="meta-right">
									<p id="crumbs" class="theme_breadcumb">
										<a class="home" href="index.html">Home Page</a>  //
										<a class="no-link" href="#">Gallery</a>  //
										<a class="no-link current" href="#">Filterable</a>
									</p>
								</div> -->
							</div>
						</div>
						<!-- /PAGE META -->
						<div id="primary" class="layout-sidebar-no home-section">
							<div class="inner group">
								<!-- FILTERS -->
								<div class="gallery-filters">
									<ul class="filters gallery-categories">
										<li class="segment-1 first">
											<a data-value="all" href="#">All</a>
										</li>
										<li class="segment-9">&nbsp;/&nbsp;
											<a href="#" data-value="brand-identity">Brand Identity</a>
										</li>
										<li class="segment-10">&nbsp;/&nbsp;
											<a href="#" data-value="motion-graphics">Motion Graphics</a>
										</li>
										<li class="segment-8">&nbsp;/&nbsp;
											<a href="#" data-value="web-design">Web Design</a>
										</li>
									</ul>
								</div>
								<!-- END FILTERS -->
								<!-- START CONTENT -->
								<div id="content" class="group">
									<div id="portfolio-gallery" class="internal_page_items internal_page_gallery">
										<ul class="gallery-wrap image-grid group">
											<li data-id="id-1" class="motion-graphics ">
												<div class="internal_page_item internal_page_item_gallery">
													<a href="#">
														<img id="myImg" width="208" height="168" src="../static/images/gallery/14-208x168.jpg" class="picture wp-post-image" alt="14" onclick="doWithThisElement(this.id)" title="14" />
															<a class="icon-zoom" href="#" title="Photo #10">View More</a>
													</a>
												</div>
											</li>
											<li data-id="id-2" class="brand-identity motion-graphics ">
												<div class="internal_page_item internal_page_item_gallery">
													<a href="#">
														<img id="myImg1" width="208" height="168" src="../static/images/gallery/13-208x168.jpg" class=" picture wp-post-image" onclick="doWithThisElement(this.id)" alt="13" title="13" />
													</a>
												</div>
											</li>
											<li data-id="id-3" class="web-design ">
												<div class="internal_page_item internal_page_item_gallery">
													<a href="#">
														<img id="myImg3" width="208" height="168" src="../static/images/gallery/12-208x168.jpg" class="picture wp-post-image" onclick="doWithThisElement(this.id)" alt="12" title="12" />
													</a>
												</div>
											</li>
											<li data-id="id-4" class="motion-graphics web-design ">
												<div class="internal_page_item internal_page_item_gallery">
													<a href="#">
														<img id="myImg4" width="208" height="168" src="../static/images/gallery/11-208x168.jpg" class="picture wp-post-image" onclick="doWithThisElement(this.id)" alt="11" title="11" />
													</a>
												</div>
											</li>
											<li data-id="id-5" class="brand-identity ">
												<div class="internal_page_item internal_page_item_gallery">
													<a href="photo.html">
														<img width="208" height="168" src="../static/images/gallery/10-208x168.jpg" class="picture wp-post-image" alt="10" title="10" />
													</a>
													<div class="overlay">
														<h5>
															<a href="photo.html">Photo #10</a>
														</h5>
														<p></p>
														<div class="controls">
															<a class="icon-zoom" href="../static/images/gallery/10.jpg" rel=" " title="Photo #10">Zoom</a>
															<a class="icon-more" href="photo.html" title="Photo #10">View More</a>
														</div>
													</div>
												</div>
											</li>
											<li data-id="id-6" class="web-design ">
												<div class="internal_page_item internal_page_item_gallery">
													<a href="photo.html">
														<img width="208" height="168" src="../static/images/gallery/9-208x168.jpg" class="picture wp-post-image" alt="9" title="9" />
													</a>
													<div class="overlay">
														<h5>
															<a href="photo.html">Photo #9</a>
														</h5>
														<p></p>
														<div class="controls">
															<a class="icon-zoom" href="../static/images/gallery/9.jpg" rel=" " title="Photo #9">Zoom</a>
															<a class="icon-more" href="photo.html" title="Photo #9">View More</a>
														</div>
													</div>
												</div>
											</li>
											<li data-id="id-7" class="brand-identity motion-graphics ">
												<div class="internal_page_item internal_page_item_gallery">
													<a href="photo.html">
														<img width="208" height="168" src="../static/images/gallery/8-208x168.jpg" class="picture wp-post-image" alt="8" title="8" />
													</a>
													<div class="overlay">
														<h5>
															<a href="photo.html">Photo #8</a>
														</h5>
														<p></p>
														<div class="controls">
															<a class="icon-zoom" href="../static/images/gallery/8.jpg" rel=" " title="Photo #8">Zoom</a>
															<a class="icon-more" href="photo.html" title="Photo #8">View More</a>
														</div>
													</div>
												</div>
											</li>
											<li data-id="id-8" class="motion-graphics web-design ">
												<div class="internal_page_item internal_page_item_gallery">
													<a href="photo.html">
														<img width="208" height="168" src="../static/images/gallery/7-208x168.jpg" class="picture wp-post-image" alt="7" title="7" />
													</a>
													<div class="overlay">
														<h5>
															<a href="photo.html">Photo #7</a>
														</h5>
														<p></p>
														<div class="controls">
															<a class="icon-zoom" href="../static/images/gallery/7.jpg" rel=" " title="Photo #7">Zoom</a>
															<a class="icon-more" href="photo.html" title="Photo #7">View More</a>
														</div>
													</div>
												</div>
											</li>
											<li data-id="id-9" class="motion-graphics ">
												<div class="internal_page_item internal_page_item_gallery">
													<a href="photo.html">
														<img width="208" height="168" src="../static/images/gallery/6-208x168.jpg" class="picture wp-post-image" alt="6" title="6" />
													</a>
													<div class="overlay">
														<h5>
															<a href="photo.html">Photo #6</a>
														</h5>
														<p></p>
														<div class="controls">
															<a class="icon-zoom" href="../static/images/gallery/6.jpg" rel=" " title="Photo #6">Zoom</a>
															<a class="icon-more" href="photo.html" title="Photo #6">View More</a>
														</div>
													</div>
												</div>
											</li>
											<li data-id="id-10" class="motion-graphics web-design ">
												<div class="internal_page_item internal_page_item_gallery">
													<a href="photo.html">
														<img width="208" height="168" src="../static/images/gallery/5-208x168.jpg" class="picture wp-post-image" alt="5" title="5" />
													</a>
													<div class="overlay">
														<h5>
															<a href="photo.html">Photo #5</a>
														</h5>
														<p></p>
														<div class="controls">
															<a class="icon-zoom" href="../static/images/gallery/5.jpg" rel=" " title="Photo #5">Zoom</a>
															<a class="icon-more" href="photo.html" title="Photo #5">View More</a>
														</div>
													</div>
												</div>
											</li>
											<li data-id="id-11" class="brand-identity motion-graphics ">
												<div class="internal_page_item internal_page_item_gallery">
													<a href="photo.html">
														<img width="208" height="168" src="../static/images/gallery/4-208x168.jpg" class="picture wp-post-image" alt="4" title="4" />
													</a>
													<div class="overlay">
														<h5>
															<a href="photo.html">Photo #4</a>
														</h5>
														<p></p>
														<div class="controls">
															<a class="icon-zoom" href="../static/images/gallery/4.jpg" rel=" " title="Photo #4">Zoom</a>
															<a class="icon-more" href="photo.html" title="Photo #4">View More</a>
														</div>
													</div>
												</div>
											</li>
											<li data-id="id-12" class="brand-identity ">
												<div class="internal_page_item internal_page_item_gallery">
													<a href="photo.html">
														<img width="208" height="168" src="../static/images/gallery/3-208x168.jpg" class="picture wp-post-image" alt="3" title="3" />
													</a>
													<div class="overlay">
														<h5>
															<a href="photo.html">Photo #3</a>
														</h5>
														<p></p>
														<div class="controls">
															<a class="icon-zoom" href="../static/images/gallery/3.jpg" rel=" " title="Photo #3">Zoom</a>
															<a class="icon-more" href="photo.html" title="Photo #3">View More</a>
														</div>
													</div>
												</div>
											</li>
											<li data-id="id-13" class="web-design ">
												<div class="internal_page_item internal_page_item_gallery">
													<a href="photo.html">
														<img width="208" height="168" src="../static/images/gallery/2-208x168.jpg" class="picture wp-post-image" alt="2" title="2" />
													</a>
													<div class="overlay">
														<h5>
															<a href="photo.html">Photo #2</a>
														</h5>
														<p></p>
														<div class="controls">
															<a class="icon-zoom" href="../static/images/gallery/2.jpg" rel=" " title="Photo #2">Zoom</a>
															<a class="icon-more" href="photo.html" title="Photo #2">View More</a>
														</div>
													</div>
												</div>
											</li>
											<li data-id="id-14" class="motion-graphics ">
												<div class="internal_page_item internal_page_item_gallery">
													<a href="photo.html">
														<img width="208" height="168" src="../static/images/gallery/1-208x168.jpg" class="picture wp-post-image" alt="1" title="1" />
													</a>
													<div class="overlay">
														<h5>
															<a href="photo.html">Photo #1</a>
														</h5>
														<p></p>
														<div class="controls">
															<a class="icon-zoom" href="../static/images/gallery/1.jpg" rel=" " title="Photo #1">Zoom</a>
															<a class="icon-more" href="photo.html" title="Photo #1">View More</a>
														</div>
													</div>
												</div>
											</li>
										</ul>
										<div class="clear"></div>
										<div id="myModal" class="modal">
										  <span class="close">&times;</span>
										  <img class="modal-content" id="img01">
										  <div id="caption"></div>
										</div>
									</div>
								</div>
								<!-- END CONTENT -->
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<!-- END WRAPPER -->

					<script>
					// Get the modal
					var modal = document.getElementById('myModal');

					// Get the image and insert it inside the modal - use its "alt" text as a caption
					var modalImg = document.getElementById("img01");
					var captionText = document.getElementById("caption");
					function doWithThisElement(id) {
					    var img = document.getElementById(id);
							    modal.style.display = "block";
							    modalImg.src = img.src;
							    captionText.innerHTML = img.alt;
					}
					// Get the <span> element that closes the modal
					var span = document.getElementsByClassName("close")[0];
					// When the user clicks on <span> (x), close the modal
					span.onclick = function() {
					    modal.style.display = "none";
							modalImg.src = "";
							captionText.innerHTML = "";
					}

// 					$(document).keyup(function(ev){
//     if(ev.keyCode == 27)
//         $(".modal .close").trigger("click");
// });
					</script>



						<!-- START FOOTER -->
					<div id="copyright" class="group">
					<div id="footer" class="sidebar-right">
						<div class="group inner footer_row_1 footer_cols_2">
							<!-- <div class="widget-first widget recent-posts">
								<h3>From our blog</h3>
								<div class="recent-post group">
									<div class="hentry-post group">
										<p class="post-date">
											<span class="day">2</span>
											<span class="month">May</span>
											<span class="year">2012</span>
										</p>
										<h3>
											<a href="article.html" title="Another great article of the blog" class="title">Another great article of the blog</a>
										</h3>
										<p class="meta">
											<span class="comments">
												<a href="article.html#comments" title="Comment on Another great article of the blog">2 comments</a>
											</span>
											<br />
											<a href="article.html" class="read-more"></a>
										</p>
									</div>
									<div class="hentry-post group">
										<p class="post-date">
											<span class="day">30</span>
											<span class="month">April</span>
											<span class="year">2012</span>
										</p>
										<h3>
											<a href="article.html" title="Fall in Love with M&egrave;mento theme!" class="title">Fall in Love with Mèmento theme!</a>
										</h3>
										<p class="meta">
											<span class="comments">
												<a href="article.html#respond" title="Comment on Fall in Love with M&egrave;mento theme!">No comments</a>
											</span>
											<br />
											<a href="article.html" class="read-more"></a>
										</p>
									</div>
								</div>
							</div> -->
							<div class="widget widget_nav_menu">
								<h3>About Us</h3>
								<div class="menu-footer-menu-container">
									<p class="columns2"> We are a team of dedicated developers trying to bring out the best of your photography skills and visualising talent to explore the horizons. We will continously try to bring the best to you! Keep supporting us and keep sharing your beautiful moments with various hues to the world! What more.. Try till you find the best fit!!!!!</p>

									<!-- style="margin-right: 5px;" -->
									<img src="../static/images/blog/blog1.jpg" width="500" height="150" style="margin-top: 15px;"/>
									<!-- <ul id="menu-footer-menu" class="menu">
										<li class="columns2">
											<a href="#">Blog</a>
										</li>
										<li class="columns2">
											<a href="features.html">Features</a>
										</li>
										<li class="columns2">
											<a href="#">Pages</a>
										</li>
										<li class="columns2">
											<a href="contact.html">Contact</a>
										</li>
										<li class="columns2">
											<a href="testimonials.html">Testimonials</a>
										</li>
										<li class="columns2">
											<a href="portfolio.html">Portfolio</a>
										</li>
										<li class="columns2">
											<a href="#">Sliders</a>
										</li>
										<li class="columns2">
											<a href="#">Web design blog</a>
										</li>
										<li class="columns2">
											<a href="#">Support forum</a>
										</li>
										<li class="columns2">
											<a href="#">Di&#8217;verso theme</a>
										</li>
										<li class="columns2">
											<a href="#">Sommerce theme</a>
										</li>
										<li class="columns2">
											<a href="#">Impero theme</a>
										</li>
										<li class="columns2">
											<a href="#">Kassyopea theme</a>
										</li>
										<li class="columns2">
											<a href="#">Maya theme</a>
										</li>
									</ul> -->
								</div>
							</div>
							<div class="quick-contact-widget widget two-third last">
								<div class="widget-last widget quick-contact">
									<h3>Please Contact Us</h3>
									<form id="contact-form-example" class="contact-form" method="post" action="sendmail.php" enctype="multipart/form-data">
										<div class="usermessagea"></div>
										<fieldset>
											<ul>
												<li class="text-field">
													<label for="name-example">
														<span class="label"></span>
													</label>
													<div class="input-prepend">
														<span class="add-on">
															<i class="icon-user"></i>
														</span>
														<input type="text" name="name" id="name-example" required class="required" value="" placeholder="Name"/>
													</div>
													<div class="msg-error"></div>
												</li>
												<li class="text-field">
													<label for="email-example">
														<span class="label"></span>
													</label>
													<div class="input-prepend">
														<span class="add-on">
															<i class="icon-envelope"></i>
														</span>
														<input type="text" name="email" id="email-example" required class="required email-validate" placeholder="Email" value="" />
													</div>
													<div class="msg-error"></div>
												</li>
												<li class="textarea-field">
													<label for="message-example">
														<span class="label"></span>
													</label>
													<div class="input-prepend">
														<span class="add-on">
															<i class="icon-pencil"></i>
														</span>
														<textarea name="message" id="message-example" required rows="8" cols="30" class="required" placeholder="Message"></textarea>
													</div>
													<div class="msg-error"></div>
												</li>
												<li class="submit-button">
													<input type="text" name="yiw_bot" id="yiw_bot" />
													<input type="hidden" name="action" value="sendemail" id="action" />
													<input type="hidden" name="yiw_referer" value="#" />
													<input type="hidden" name="id_form" value="footer" />
													<input type="submit" name="yiw_sendemail" value="send message" class="sendmail alignright" />
												</li>
											</ul>
										</fieldset>
									</form>
									<script type="text/javascript">
                            var messages_form_footer = {
                            	name: "Insert your name",
                            	email: "Insert your email",
                            	message: "Insert your message"
                            };
                        </script>
								</div>
							</div>
						</div>
					</div>
					<!-- <div id="copyright" class="group"> -->
						<div class="inner group">
							<div class="left">
								<!-- <p>
                    	Copyright
									<a href="http://demo.yithemes.com/memento">
										<strong>Mem[é]nto</strong>
									</a> 2012 -
                    	Powered by
									<a href="http://yithemes.com" title="Free HTML Template">
										<strong>Your Inspiration Themes</strong>
									</a>
								</p> -->
							</div>
							<div class="center">
								<a href="#" class="socials facebook" style="font-size:30px;" title="Facebook">
										<img src="../static/images/social_icons/Facebook.ico"/ width="50" height="50" style="margin-right: 45px;">
								</a>
								<!-- <a href="#" class="socials skype" style="font-size:30px;" title="Skype">H</a> -->
								<!-- <a href="#" class="socials google" style="font-size:30px;" title="Google">G</a> -->
								<a href="#" class="socials linkedin" style="font-size:30px;" title="Instagram">
								<img src="../static/images/social_icons/instagram.ico"/ width="45" height="45" style="margin-right: 45px;">
								</a>
								<a href="#" class="socials rss" style="font-size:30px;" title="Twitter">
								<img src="../static/images/social_icons/twitter-icon.png"/ width="50" height="50">
								</a>
							</div>
						</div>
					</div>
						<!-- END FOOTER -->
					<script type="text/javascript" src="../static/js/jquery.custom.js"></script>
					<script type="text/javascript" src="../static/js/contact.js"></script>
					<script type="text/javascript">
					  var _gaq = _gaq || [];
					  _gaq.push(['_setAccount', 'UA-36516261-21']);
					  _gaq.push(['_trackPageview']);
					  (function() {
					    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
					  })();
    		// 	});
				// });
					</script>
				</body>
			</html>
